/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/Caso16-aff67bf6-5076-4c04-ba2f-66659b32afeb.jpg
public/images/Caso16-Caso19- (8).gitignore
public/images/Caso16-gorro de papá noel.png.jpg
public/images/Caso16-hat-cartoon-animation-clip-art-cartoon-christmas-hats.jpg
public/images/Caso17-descarga (1).jfif
public/images/Caso17-descarga (2).jfif
public/images/Caso17-descarga.jfif
